.addContainer {

  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  z-index: -1;
   margin-bottom: 3rem;
  /* position: relative; */
}



.addContainer h1 {
  color: #4f46e5;
  margin-bottom: 1rem;
}

.label {
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.5rem;
}

/* .select, input, textarea { */
  /* width: 100%; */
  /* padding: 0.75rem; */
  /* margin-bottom: 1rem; */
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
/* } */
/*  */
/* textarea { */
  /* resize: none; */
/* } */

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background: #4f46e5;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-bottom: 5rem;
}

.submitButton:hover {
  background: #3b39cc;
}

.selectorRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.closeButton {
  background-color: var(--rosado);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  position: fixed; 
   top: 80px; 
  right: 20px; 
}



